.App {
  text-align: center;
}

/* problem */

.problem {
  margin: auto;
  margin-top: 20px;
  width: 670px;
  border: 6px solid white;
  border-radius: 5px;
}

.problemHeader {
  background-color: white;
  padding: 4px;
}

.dailyQuiz {
  margin: 0;
  font-size: 18px;
}

.dailyQuizTheme {
  margin: 0;
  font-size: 11px;
  color: #3264DC;
}

/* problem-main */

.problemBody {
  min-width: 400px;
  max-width: 800px;
  border: 1px;
  border-color: black;
}

.problemLevel {
  border: 2px solid #2864F0;
  border-radius: 10px;
  color: #2864F0;
  width: 80px;
  margin: auto;
  margin-top: 15px;
}

.problemContent {
  font-size: 15px;
  font-weight: 600;
}

/* explanation */

.closeButton {
  font-size: 20px;
  margin: 10px;
  float: left;
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.nextProblemButton {
  font-size: 20px;
  margin: 10px;
  float: right;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #E9E7E7;
  border-radius: 6.4px;
  cursor: pointer;
}

.explanation h2 {
  margin: 0;
  clear: both;
}

.ox {
  color: #2864F0;
  font-size: 100px;
  margin: 0;
}

.explanation-main {
  background-color: lightgray;
  margin: 0;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.explanation-main p {
  font-size: 14px;
  margin: 20px;
  font-weight: 600;
}

